---
import Cancion from "./Cancion.astro";
import Emojie from "./Emojie.astro";

const eraTarjeta = 'debut';
---
<div class="flex flex-col gap-3 items-start justify-start self-stretch shrink-0 relative">

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="guitarra" slot="before"/>

        Tim McGraw x2

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            <Emojie emojie="mashup"/>
            <Emojie emojie="piano"/>
        </div>
    </Cancion>

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="guitarra" slot="before"/>
        
        Picture To Burn

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            
        </div>
    </Cancion>

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="piano" slot="before"/>
        
        Teardrops on My Guitar x2

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            
        </div>
    </Cancion>

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="guitarra" slot="before"/>
        
        A Place in this World

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            
        </div>
    </Cancion>

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="piano" slot="before"/>
        
        Teardrops on My Guitar x2

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            
        </div>
    </Cancion>

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="piano" slot="before"/>
        
        Teardrops on My Guitar x2

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            
        </div>
    </Cancion>

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="piano" slot="before"/>
        
        Teardrops on My Guitar x2

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            
        </div>
    </Cancion>

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="piano" slot="before"/>
        
        Teardrops on My Guitar x2

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            
        </div>
    </Cancion>

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="piano" slot="before"/>
        
        Teardrops on My Guitar x2

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            
        </div>
    </Cancion>

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="piano" slot="before"/>
        
        Teardrops on My Guitar x2

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            
        </div>
    </Cancion>

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="piano" slot="before"/>
        
        Teardrops on My Guitar x2

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            
        </div>
    </Cancion>

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="piano" slot="before"/>
        
        Teardrops on My Guitar x2

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            
        </div>
    </Cancion>

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="piano" slot="before"/>
        
        Teardrops on My Guitar x2

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            
        </div>
    </Cancion>

    <Cancion eraTarjeta={eraTarjeta}>
        <Emojie emojie="piano" slot="before"/>
        
        Teardrops on My Guitar x2

        <div slot="after" class="flex flex-row items-center justify-start self-stretch shrink-0 relative space-x-1.5">
            
        </div>
    </Cancion>

    
</div>

<!-- 

Cold As You
The Outside
Tied Together with a Smile
Stay Beautiful
Should've Said No
Mary's Song (Oh My My My)
Our Song
I'm Only Me When I'm With You
Invisible
A Perfectly Good Heart -->