---
import Emojie from './Emojie.astro';

interface Props {
	eraTarjeta: string;
	cancion: string;
	emojiePrincipal: string;
	emojie2: string;
	emojie3: string;
	emojie4: string;
	emojie5: string;
	emojie6: string;
}

const { eraTarjeta , cancion , emojiePrincipal , emojie2 , emojie3 , emojie4 , emojie5 , emojie6 }  =  Astro.props;

---
<div class="pt-1 pb-1 flex flex-row items-center justify-start self-stretch shrink-0 relative overflow-hidden space-x-2 h-min">
	<!-- Emojie Principal -->
	<Emojie emojie={emojiePrincipal}/>
	<!-- Divider Vertical -->
    <div class:list={[
		"w-0.5 rounded-sm h-6",
		{
			"bg-debut-900":         eraTarjeta === "debut",
			"bg-fearless-900":      eraTarjeta === "fearless",
			"bg-speakNow-900":     	eraTarjeta === "speakNow",
			"bg-red-900":           eraTarjeta === "red",
			"bg-1989-900":          eraTarjeta === "1989",
			"bg-reputation-900":    eraTarjeta === "reputation",
			"bg-lover-900":         eraTarjeta === "lover",
			"bg-folklore-900":      eraTarjeta === "folklore",
			"bg-evermore-900":      eraTarjeta === "evermore",
			"bg-midnights-900":     eraTarjeta === "midnights",
			"bg-TTPD-900":          eraTarjeta === "TTPD",
			"bg-mashup-900":        eraTarjeta === "mashup",
		}
	]}></div>
    <!-- Cancion -->
    <p class:list={[
		"text-left text-title-medium relative",
		{
			"text-debut-900":       eraTarjeta === "debut",
			"text-fearless-900":    eraTarjeta === "fearless",
			"text-speakNow-900":   	eraTarjeta === "speakNow",
			"text-red-900":         eraTarjeta === "red",
			"text-1989-900":        eraTarjeta === "1989",
			"text-reputation-900":  eraTarjeta === "reputation",
			"text-lover-900":       eraTarjeta === "lover",
			"text-folklore-900":    eraTarjeta === "folklore",
			"text-evermore-900":    eraTarjeta === "evermore",
			"text-midnights-900":   eraTarjeta === "midnights",
			"text-TTPD-900":        eraTarjeta === "TTPD",
			"text-mashup-900":      eraTarjeta === "mashup",
		}
		]}>
		{cancion}
	</p>

	<!-- Emojie Adicionales -->
	<Emojie emojie={emojie2}/>
	<Emojie emojie={emojie3}/>
	<Emojie emojie={emojie4}/>
	<Emojie emojie={emojie5}/>
	<Emojie emojie={emojie6}/>
</div>