---
import Emojie from './Emojie.astro';

interface Props {
	eraTarjeta: string;
	cancion: string;
	indice: number;
	emojiePrincipal: string;
	emojie2: string;
	emojie3: string;
	emojie4: string;
	emojie5: string;
	emojie6: string;
}

const { eraTarjeta , cancion , indice , emojiePrincipal , emojie2 , emojie3 , emojie4 , emojie5 , emojie6 }  =  Astro.props;

---
<div class="pt-1 pb-1 flex flex-row items-center justify-start self-stretch shrink-0 relative overflow-hidden space-x-2 h-min">
	<!-- Emojie Principal -->
	<Emojie emojie={emojiePrincipal}/>
	<!-- Divider Vertical -->
    <div class:list={[
		"w-0.5 rounded-sm h-6",
		{
			"bg-debut-600 dark:bg-debut-200":         eraTarjeta === "debut",
			"bg-fearless-600 dark:bg-fearless-200":      eraTarjeta === "fearless",
			"bg-speakNow-600 dark:bg-speakNow-200":     	eraTarjeta === "speakNow",
			"bg-red-600 dark:bg-red-200":           eraTarjeta === "red",
			"bg-1989-600 dark:bg-1989-200":          eraTarjeta === "1989",
			"bg-reputation-600 dark:bg-reputation-200":    eraTarjeta === "reputation",
			"bg-lover-600 dark:bg-lover-200":         eraTarjeta === "lover",
			"bg-folklore-600 dark:bg-folklore-200":      eraTarjeta === "folklore",
			"bg-evermore-600 dark:bg-evermore-200":      eraTarjeta === "evermore",
			"bg-midnights-600 dark:bg-midnights-200":     eraTarjeta === "midnights",
			"bg-TTPD-600 dark:bg-TTPD-200":          eraTarjeta === "TTPD",
			"bg-mashup-600 dark:bg-mashup-200":        eraTarjeta === "mashup",
		}
	]}></div>
    <!-- Cancion -->
    <div class:list={[
		"text-left text-title-medium relative",
		{
			"text-debut-900 dark:text-debut-100":       eraTarjeta === "debut",
			"text-fearless-900 dark:text-fearless-100":    eraTarjeta === "fearless",
			"text-speakNow-900 dark:text-speakNow-100":   	eraTarjeta === "speakNow",
			"text-red-900 dark:text-red-100":         eraTarjeta === "red",
			"text-1989-900 dark:text-1989-100":        eraTarjeta === "1989",
			"text-reputation-900 dark:text-reputation-100":  eraTarjeta === "reputation",
			"text-lover-900 dark:text-lover-100":       eraTarjeta === "lover",
			"text-folklore-900 dark:text-folklore-100":    eraTarjeta === "folklore",
			"text-evermore-900 dark:text-evermore-100":    eraTarjeta === "evermore",
			"text-midnights-900 dark:text-midnights-100":   eraTarjeta === "midnights",
			"text-TTPD-900 dark:text-TTPD-100":        eraTarjeta === "TTPD",
			"text-mashup-900 dark:text-mashup-100":      eraTarjeta === "mashup",
		}
		]}>
		<p class="inline">
			{cancion} 
			<sup class:list={indice !== 1 ? "inline" : "hidden"}>
				(x{indice})
			</sup>
		</p>
	</div>

	<!-- Emojie Adicionales -->
	<Emojie emojie={emojie2}/>
	<Emojie emojie={emojie3}/>
	<Emojie emojie={emojie4}/>
	<Emojie emojie={emojie5}/>
	<Emojie emojie={emojie6}/>
</div>