---
import Logo from './Logo.astro';
import GitHubSvg from './svg/GitHubSvg.astro';
import GitHubBordeSvg from './svg/GitHubBordeSvg.astro';
import PortfolioSvg from './svg/PortfolioSvg.astro';
import LinkedInSvg from './svg/LinkedInSvg.astro'
import MailSvg from './svg/MailSvg.astro';

interface Props {
	era: string;
}

const { era } = Astro.props;
---

<footer class:list={[
    'px-8 md:px-24 py-16 flex flex-col md:gap-14 md:flex-row gap-8 items-start justify-start relative overflow-hidden',
    {
        'bg-debut-900 text-debut-200': era === 'debut',
        'bg-fearless-900 text-fearless-200': era === 'fearless',
        'bg-speakNow-900 text-speakNow-200': era === 'speakNow',
        'bg-red-900 text-red-200': era === 'red',
        'bg-1989-900 text-1989-200': era === '1989',
        'bg-reputation-900 text-reputation-200': era === 'reputation',
        'bg-lover-900 text-lover-200': era === 'lover',
        'bg-folklore-900 text-folklore-200': era === 'folklore',
        'bg-evermore-900 text-evermore-200': era === 'evermore',
        'bg-midnights-900 text-midnights-200': era === 'midnights',
        'bg-TTPD-900 text-TTPD-200': era === 'TTPD',
        'bg-mashup-900 text-mashup-200': era === 'mashup',
    }
    ]}>
    <article class="text-pretty flex flex-col gap-4  items-start w-full md:2/3">
        <Logo era={era} />
        <h2 class='text-left text-title-large'>
            Swifties Eras Tour
        </h2>
        <p class=' text-left text-body-medium' style="letter-spacing: var(--body-small-letter-spacing, 0.4px)">
            Página creada por un fan para fans.
            <br />
            <br />
            Soy una apasionado swiftie y he creado este sitio web como un tributo a Taylor Swift y su increíble carrera. Este sitio es la primera página que hago en su totalidad, y busca celebrar cada momento y cada canción. Agradezco a Taylor por ser una inspiración constante y por su música que me ha acompañado a lo largo de los años.
            <br />
            <br />
            Este sitio incluye una sección especial para las canciones sorpresa del tour, donde podrás encontrar detalles sobre las fechas y lugares en los que se tocaron. Además, todas las fechas que se hicieron y faltan hacer.
            <br />
            <br />
            Si tienen alguna sugerencia no duden en mandarme un correo.
        </p>
    </article>
    <section class="w-full flex gap-8 md:w-1/3">
        <article class="flex flex-col gap-4 w-full">
            <h3 class=' text-start text-title-large'>
                Eras
            </h3>
            <div class=' flex flex-col gap-2 w-max'>
                <a href="/swifties-eras-tour/01-debut" class="text-body-large">Taylor Swift</a>
                <a href="/swifties-eras-tour/02-fearless" class="text-body-large">Fearless</a>
                <a href="/swifties-eras-tour/03-speakNow" class="text-body-large">Speak Now</a>
                <a href="/swifties-eras-tour/04-red" class="text-body-large">Red</a>
                <a href="/swifties-eras-tour/05-1989" class="text-body-large">1989</a>
                <a href="/swifties-eras-tour/06-reputation" class="text-body-large">Reputation</a>
                <a href="/swifties-eras-tour/07-lover" class="text-body-large">Lover</a>
                <a href="/swifties-eras-tour/08-folklore" class="text-body-large">Folklore</a>
                <a href="/swifties-eras-tour/09-evermore" class="text-body-large">Evermore</a>
                <a href="/swifties-eras-tour/10-midnights" class="text-body-large">Midnights</a>
                <a href="/swifties-eras-tour/11-TTPD" class="text-body-large">TTPD</a>
                <a href="/swifties-eras-tour/12-mashup" class="text-body-large">Mashup</a>
            </div>
        </article>
    
        <article class="flex flex-col gap-4 w-full">
            <h3 class=' text-start text-title-large'>
                Contacto
            </h3>
            <div class="flex flex-col gap-2.5" class='text-body-medium-font-family text-body-medium-font-size leading-body-medium-line-height font-body-medium-font-weight'>
                <a href="" class="flex items-center gap-2">
                    <LinkedInSvg era={era}/>
                    <p >LinkedIn</p>
                </a>
                <a class="flex items-center gap-2">
                    <GitHubSvg era={era}/>
                    <p>Repositorio</p>
                </a>
                <a href="https://github.com/MatiasSolisSchneeberger" target="_blank" class="flex items-center gap-2">
                    <GitHubBordeSvg era={era}/>
                    <p>GitHub</p>
                </a>
                <a class="flex items-center gap-2">
                    <PortfolioSvg era={era}/>
                    <p>Portfolio</p>
                </a>
                <a class="flex items-center gap-2">
                    <MailSvg era={era}/>
                    <p>Mail</p>
                </a>
            </div>
        </article>
    </section>
</footer>
