---
import ButtonPrimario from './ButtonPrimario.astro';
import ButtonSecundario from './ButtonSecundario.astro';
interface Props {
	era: string;
}

const { era }  =  Astro.props;
/* pasar a mayuscula la primera letra */
function capitalizeFirstLetter(str: string): string {
    return str.charAt(0).toUpperCase() + str.slice(1);
}

const capitalizedEra  =  capitalizeFirstLetter(era);
---

<div class:list = {[
    "pt-space-4000 px-56 pb-space-4000 flex flex-col gap-space-800 items-center justify-center self-stretch shrink-0 w-auto relative py-40 space-y-8 bg-cover bg-no-repeat bg-center",
    {
        'bg-fondos-debut': era === 'debut',
        'bg-fondos-fearless': era === 'fearless',
        'bg-fondos-speakNow': era === 'speakNow',
        'bg-fondos-red': era === 'red',
        'bg-fondos-1989': era === '1989',
        'bg-fondos-reputation': era === 'reputation',
        'bg-fondos-lover': era === 'lover',
        'bg-fondos-folklore': era === 'folklore',
        'bg-fondos-evermore': era === 'evermore',
        'bg-fondos-midnights': era === 'midnights',
        'bg-fondos-TTPD': era === 'TTPD',
    }
    ]} >
    <div class = "flex flex-col gap-space-200 items-center justify-center shrink-0 relative space-y-2 overflow-hidden">
        <div class:list = {[
            "text-center font-display-large-font-family text-display-large-font-size leading-display-large-line-height font-display-large-font-weight relative self-stretch",
            {
                'text-debut-400': era === 'debut',
                'text-fearless-400': era === 'fearless',
                'text-speakNow-400': era === 'speakNow',
                'text-red-400': era === 'red',
                'text-1989-400': era === '1989',
                'text-reputation-400': era === 'reputation',
                'text-lover-400': era === 'lover',
                'text-folklore-400': era === 'folklore',
                'text-evermore-400': era === 'evermore',
                'text-midnights-400': era === 'midnights',
                'text-TTPD-400': era === 'TTPD',
            }
            ]} style = "letter-spacing: var(--display-large-letter-spacing, -1px)">
        Swifties Eras Tour
        </div>
        <div class:list = {[
            "text-center font-headline-small-font-family text-headline-small-font-size leading-headline-small-line-height font-headline-small-font-weight relative self-stretch flex items-center justify-center",
            {
                'text-debut-400': era === 'debut',
                'text-fearless-400': era === 'fearless',
                'text-speakNow-400': era === 'speakNow',
                'text-red-400': era === 'red',
                'text-1989-400': era === '1989',
                'text-reputation-400': era === 'reputation',
                'text-lover-400': era === 'lover',
                'text-folklore-400': era === 'folklore',
                'text-evermore-400': era === 'evermore',
                'text-midnights-400': era === 'midnights',
                'text-TTPD-400': era === 'TTPD',
            }
            ]} style = "mix-blend-mode: color-dodge">
        {capitalizedEra}
        </div>
    </div>
    <div class = "flex flex-row gap-space-400 items-center justify-center shrink-0 relative space-x-4">
        <ButtonPrimario era = {era} href="#Canciones" icono={null}>
            Canciones
        </ButtonPrimario>
        <ButtonPrimario era = {era} href="#Conciertos" icono={null}>
            Conciertos
        </ButtonPrimario>
    </div>
</div>
    
<style>
</style>