---
import ButtonPrimario from "./ButtonPrimario.astro";
import ButtonSecundario from "./ButtonSecundario.astro";
import InfoSvg from "./svg/InfoSvg.astro";
import SpotifySvg from "./svg/SpotifySvg.astro";

interface Props {
	eraTarjeta: string;
    album: string;
    linkPage: string;
}

const { eraTarjeta , album , linkPage} = Astro.props;

const imageLogo: { [key: string]: string } = {
    debut:      "/images/Logos-Discos/01-Logo-Debut.png",
    fearless:   "/images/Logos-Discos/02-Logo-Fearless.png",
    speakNow:   "/images/Logos-Discos/03-Logo-SpeakNow.png",
    red:        "/images/Logos-Discos/04-Logo-Red.png",
    "1989":     "/images/Logos-Discos/05-Logo-1989.png",
    reputation: "/images/Logos-Discos/06-Logo-Reputation.png",
    lover:      "/images/Logos-Discos/07-Logo-Lover.png",
    folklore:   "/images/Logos-Discos/08-Logo-Folklore.png",
    evermore:   "/images/Logos-Discos/09-Logo-Evermore.png",
    midnights:  "/images/Logos-Discos/10-Logo-Midnights.png",
    TTPD:       "/images/Logos-Discos/11-Logo-TTPD.png",
    mashup:     "/images/Logos-Discos/12-Logo-Mashups.png",
};
const imageTaylor: { [key: string]: string } = {
    debut:      "/images/Fotos/01-TaylorSwift.png",
    fearless:   "/images/Fotos/02-Fearless.png",
    speakNow:   "/images/Fotos/03-SpeakNow.png",
    red:        "/images/Fotos/04-Red.png",
    "1989":     "/images/Fotos/05-1989.png",
    reputation: "/images/Fotos/06-Reputation.png",
    lover:      "/images/Fotos/07-Lover.png",
    folklore:   "/images/Fotos/08-Folklore.png",
    evermore:   "/images/Fotos/09-Evermore.png",
    midnights:  "/images/Fotos/10-Midnights.png",
    TTPD:       "/images/Fotos/11-TTPD.png",
    mashup:     "/images/Fotos/12-Mashup.png",
};

// Obtener la imagen correspondiente al eraTarjeta
const logo = imageLogo[eraTarjeta] || "/public/images/Emojis/cross-mark_274c.png";
const taylor = imageTaylor[eraTarjeta] || "/public/images/Emojis/cross-mark_274c.png";

---
<article id={eraTarjeta} class:list={[
    " transition ease-in-out delay-0 duration-200 shadow-sm hover:shadow-lg rounded-3xl flex-wrap self-start shrink-0 overflow-hidden flex flex-col gap-0 justify-center flex-1 min-w-[300px] max-w-[388px] relative px-2.5 space-y-2.5 py-2.5",
    {
        'bg-debut-200       shadow-debut-600      hover:shadow-debut-900':       eraTarjeta === 'debut',
        'bg-fearless-200    shadow-fearless-600   hover:shadow-fearless-900':    eraTarjeta === 'fearless',
        'bg-speakNow-200    shadow-speakNow-600   hover:shadow-speakNow-900':    eraTarjeta === 'speakNow',
        'bg-red-200         shadow-red-600        hover:shadow-red-900':         eraTarjeta === 'red',
        'bg-1989-200        shadow-1989-600       hover:shadow-1989-900':        eraTarjeta === '1989',
        'bg-reputation-200  shadow-reputation-600 hover:shadow-reputation-900':  eraTarjeta === 'reputation',
        'bg-lover-200       shadow-lover-600      hover:shadow-lover-900':       eraTarjeta === 'lover',
        'bg-folklore-200    shadow-folklore-600   hover:shadow-folklore-900':    eraTarjeta === 'folklore',
        'bg-evermore-200    shadow-evermore-600   hover:shadow-evermore-900':    eraTarjeta === 'evermore',
        'bg-midnights-200   shadow-midnights-600  hover:shadow-midnights-900':   eraTarjeta === 'midnights',
        'bg-TTPD-200        shadow-TTPD-600       hover:shadow-TTPD-900':        eraTarjeta === 'TTPD',
        'bg-mashup-200      shadow-mashup-600     hover:shadow-mashup-900':      eraTarjeta === 'mashup',
    }
    ]}
>
    <header class="w-full flex-col gap-2.5 items-center justify-start self-stretch shrink-0 relative space-y-2.5">
        <!-- logo -->
        <div class:list={[
            "rounded-2xl p-2 flex flex-col gap-0 items-center justify-center self-stretch shrink-0 h-[72px] relative",
            {
                'bg-debut-400':         eraTarjeta === 'debut',
                'bg-fearless-400':      eraTarjeta === 'fearless',
                'bg-speakNow-400':      eraTarjeta === 'speakNow',
                'bg-red-400':           eraTarjeta === 'red',
                'bg-1989-400':          eraTarjeta === '1989',
                'bg-reputation-400':    eraTarjeta === 'reputation',
                'bg-lover-400':         eraTarjeta === 'lover',
                'bg-folklore-400':      eraTarjeta === 'folklore',
                'bg-evermore-400':      eraTarjeta === 'evermore',
                'bg-midnights-400':     eraTarjeta === 'midnights',
                'bg-TTPD-400':          eraTarjeta === 'TTPD',
                'bg-mashup-400':        eraTarjeta === 'mashup',
            }
            ]}>
            <img
            class="bg-logo-debut self-stretch flex-1 relative h-full w-full object-contain"
            src="/images/02-Logo-Fearless.png"
            alt=`Logo del disco ${eraTarjeta}`

            />        
        </div>
        <!-- Taylor -->
        <div class:list={[
            "group transition ease-in-out delay-0 duration-200 h-[350px]  bg-cover bg-center rounded-xl flex flex-col items-center justify-end self-stretch shrink-0 relative overflow-hidden",
            {
                "bg-[url('public/images/Portadas-Discos/01-Portada-TaylorSwift.png')]":    eraTarjeta === 'debut',
                "bg-[url('public/images/Portadas-Discos/02-Portada-Fearless.png')]":       eraTarjeta === 'fearless',
                "bg-[url('public/images/Portadas-Discos/03-Portada-SpeakNow.png')]":       eraTarjeta === 'speakNow',
                "bg-[url('public/images/Portadas-Discos/04-Portada-Red.png')]":            eraTarjeta === 'red',
                "bg-[url('public/images/Portadas-Discos/05-Portada-1989.png')]":           eraTarjeta === '1989',
                "bg-[url('public/images/Portadas-Discos/06-Portada-Reputation.png')]":     eraTarjeta === 'reputation',
                "bg-[url('public/images/Portadas-Discos/07-Portada-Lover.png')]":          eraTarjeta === 'lover',
                "bg-[url('public/images/Portadas-Discos/08-Portada-Folklore.png')]":       eraTarjeta === 'folklore',
                "bg-[url('public/images/Portadas-Discos/09-Portada-Evermore.png')]":       eraTarjeta === 'evermore',
                "bg-[url('public/images/Portadas-Discos/10-Portada-Midnights.png')]":      eraTarjeta === 'midnights',
                "bg-[url('public/images/Portadas-Discos/11-Portada-TTPD.png')]":           eraTarjeta === 'TTPD',
            }
            ]}>
            <div class:list={[
                "w-full h-full flex justify-center rounded-xl absolute mix-blend-multiply z-20",
            {
                'bg-debut-400':         eraTarjeta === 'debut',
                'bg-fearless-400':      eraTarjeta === 'fearless',
                'bg-speakNow-400':      eraTarjeta === 'speakNow',
                'bg-red-400':           eraTarjeta === 'red',
                'bg-1989-400':          eraTarjeta === '1989',
                'bg-reputation-400':    eraTarjeta === 'reputation',
                'bg-lover-400':         eraTarjeta === 'lover',
                'bg-folklore-400':      eraTarjeta === 'folklore',
                'bg-evermore-400':      eraTarjeta === 'evermore',
                'bg-midnights-400':     eraTarjeta === 'midnights',
                'bg-TTPD-400':          eraTarjeta === 'TTPD',
                'bg-mashup-400':        eraTarjeta === 'mashup',
            }
            ]}/>
            <img class="group-hover:scale-105 transition ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full z-10" 
            src={taylor}
            alt=`Taylor en la era ${eraTarjeta}`
            style="mask-image: linear-gradient(to right, transparent 0%, black 05%, black 95%, transparent 100%);"
            >
            <div class="backdrop-blur-sm w-full h-full flex justify-center rounded-xl absolute mix-blend-multiply z-1"/>
        </div>
    </header>
    <!-- Canciones -->
    <section class="flex flex-col gap-3 items-start justify-start self-stretch shrink-0 relative w-full">
        <slot/>
    </section>
    <!-- seccion de botones -->
    <section class="w-full flex justify-end space-x-2.5">
        <ButtonSecundario era = {eraTarjeta} href={album} icono="Izq">
            <SpotifySvg era={eraTarjeta} slot="before"/>
            Spotify
        </ButtonSecundario>
        <ButtonPrimario era={eraTarjeta} href={linkPage} icono="Izq">
            <InfoSvg era={eraTarjeta} slot="before"/>
            Mas info
        </ButtonPrimario>

    </section>
</article>