---
import ButtonPrimario from '../components/ButtonPrimario.astro';
interface Props {
	era: string;
}

const { era }  =  Astro.props;
---

<div id="Inicio" class:list = {[
    "sm:px-56 px-16 flex flex-col items-center justify-center self-stretch shrink-0 w-auto relative py-40 space-y-8 bg-cover bg-no-repeat bg-center",
    {
        'bg-fondos-debut': era === 'debut',
        'bg-fondos-fearless': era === 'fearless',
        'bg-fondos-speakNow': era === 'speakNow',
        'bg-fondos-red': era === 'red',
        'bg-fondos-1989': era === '1989',
        'bg-fondos-reputation': era === 'reputation',
        'bg-fondos-lover': era === 'lover',
        'bg-fondos-folklore': era === 'folklore',
        'bg-fondos-evermore': era === 'evermore',
        'bg-fondos-midnights': era === 'midnights',
        'bg-fondos-TTPD': era === 'TTPD',
    }
    ]} >
    <div class:list={[
        {"hidden": era === 'TTPD'}
        ]}>
        <p class=`text-${era}-400 text-center font-body-large-font-family text-body-large-font-size leading-body-large-line-height font-body-large-font-weight absolute left-[30px] bottom-[30px]`>
            © Disney. All rights reserved.</p>
    </div>
    <div class:list={[
        {"hidden": era !== 'TTPD'}
        ]}>
        <p class=`text-${era}-400 text-center font-body-large-font-family text-body-large-font-size leading-body-large-line-height font-body-large-font-weight absolute left-[30px] bottom-[30px]`>
            © Taylor Swift, from her official YouTube channel.</p>
    </div>
    <div class = "flex flex-col gap-space-200 items-center justify-center shrink-0 relative space-y-2 overflow-hidden">
        <div class:list = {[
            "text-center font-display-large-font-family text-display-large-font-size leading-display-large-line-height font-display-large-font-weight relative self-stretch",
            {
                'text-debut-400': era === 'debut',
                'text-fearless-400': era === 'fearless',
                'text-speakNow-400': era === 'speakNow',
                'text-red-400': era === 'red',
                'text-1989-400': era === '1989',
                'text-reputation-400': era === 'reputation',
                'text-lover-400': era === 'lover',
                'text-folklore-400': era === 'folklore',
                'text-evermore-400': era === 'evermore',
                'text-midnights-400': era === 'midnights',
                'text-TTPD-400': era === 'TTPD',
            }
            ]} style = "letter-spacing: var(--display-large-letter-spacing, -1px)">
        Swifties Eras Tour
        </div>
        <div class:list = {[
            "text-center font-headline-small-font-family text-headline-small-font-size leading-headline-small-line-height font-headline-small-font-weight relative self-stretch flex items-center justify-center capitalize ",
            {
                'text-debut-400': era === 'debut',
                'text-fearless-400': era === 'fearless',
                'text-speakNow-400': era === 'speakNow',
                'text-red-400': era === 'red',
                'text-1989-400': era === '1989',
                'text-reputation-400': era === 'reputation',
                'text-lover-400': era === 'lover',
                'text-folklore-400': era === 'folklore',
                'text-evermore-400': era === 'evermore',
                'text-midnights-400': era === 'midnights',
                'text-TTPD-400': era === 'TTPD',
            }
            ]} style = "mix-blend-mode: color-dodge">
        {era}
        </div>
    </div>
    <div class = "hidden sm:flex flex-row gap-space-400 items-center justify-center shrink-0 relative space-x-4">
        <ButtonPrimario era = {era} href="#Canciones" icono={null}>
            Canciones
        </ButtonPrimario>
        <ButtonPrimario era = {era} href="#Conciertos" icono={null}>
            Conciertos
        </ButtonPrimario>
    </div>
</div>
    
<style>
</style>