---
import ButtonPrimario from "../components/ButtonPrimario.astro";
import Title from "../components/Title.astro";
import Chip from "../components/Chip.astro";
import TarjetaCancion from "../components/TarjetaCancion.astro";
import Cancion from "../components/Cancion.astro";
import Emojie from "../components/Emojie.astro";

import {eras} from "../data/songs.json"
import Subtitle from "../components/Subtitle.astro";

interface Props {
	era: string;
}

const { era }  =  Astro.props;
---

<article id="Canciones" class='py-12 px-8 sm:px-10 xl:px-28 space-y-6'>
    <!-- Titulo -->
    <Title era={era} titulo = "Canciones Sorpresas">
        Estas fueron las canciones sorpresas que hubieron hasta ahora en “The Eras Tour”.
    </Title>
    <!-- Botontes/Etiquetas -->
    <section class = "flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative">
        <!-- Botones -->
        <div class="rounded-3xl flex flex-col gap-3 items-start justify-start self-stretch shrink-0 relative">
            <Subtitle era={era} titulo="Botones">
                
            </Subtitle>
            <!-- Botones de las eras -->
            <div class = "flex flex-row gap-3 items-center justify-center flex-wrap self-stretch shrink-0 relative">
                <ButtonPrimario era="debut" href="#debut" icono="Izq"> 
                    <Emojie emojie="debut" slot="before"/>
                    Taylor Swift 
                </ButtonPrimario>
                
                <ButtonPrimario era="fearless" href="#fearless" icono="Izq"> 
                    <Emojie emojie="fearless" slot="before"/>
                    Fearless 
                </ButtonPrimario>
                
                <ButtonPrimario era="speakNow" href="#speakNow" icono="Izq"> 
                    <Emojie emojie="speakNow" slot="before"/>
                    Speak Now 
                </ButtonPrimario>
                
                <ButtonPrimario era="red" href="#red" icono="Izq"> 
                    <Emojie emojie="red" slot="before"/>
                    Red 
                </ButtonPrimario>
                
                <ButtonPrimario era="1989" href="#1989" icono="Izq"> 
                    <Emojie emojie="1989" slot="before"/>
                    1989
                </ButtonPrimario>
                
                <ButtonPrimario era="reputation" href="#reputation" icono="Izq"> 
                    <Emojie emojie="reputation" slot="before"/>
                    Reputation
                </ButtonPrimario>
                
                <ButtonPrimario era="lover" href="#lover" icono="Izq"> 
                    <Emojie emojie="lover" slot="before"/>
                    Lover
                </ButtonPrimario>
                
                <ButtonPrimario era="folklore" href="#folklore" icono="Izq"> 
                    <Emojie emojie="folklore" slot="before"/>
                    Folklore
                </ButtonPrimario>
                
                <ButtonPrimario era="evermore" href="#evermore" icono="Izq"> 
                    <Emojie emojie="evermore" slot="before"/>
                    Evermore 
                </ButtonPrimario>
                
                <ButtonPrimario era="midnights" href="#midnights" icono="Izq"> 
                    <Emojie emojie="midnights" slot="before"/>
                    Midnights 
                </ButtonPrimario>
                
                <ButtonPrimario era="TTPD" href="#TTPD" icono="Izq"> 
                    <Emojie emojie="TTPD" slot="before"/>
                    The Tortured Poets Department 
                </ButtonPrimario>
                
                <ButtonPrimario era="mashup" href="#mashup" icono="Izq"> 
                    <Emojie emojie="mashup" slot="before"/>
                    Mashups 
                </ButtonPrimario>

            </div>
        </div>
        <!-- Etiquetas -->
        <div class = "rounded-3xl flex flex-col gap-3 items-start justify-start self-stretch shrink-0 relative">
            <Subtitle era={era} titulo="Etiquetas">
                Con las etiquetas podes 
            </Subtitle>
            <!-- Etiquetas -->
            <div class = "flex flex-row gap-3 items-center justify-center flex-wrap self-stretch shrink-0 relative">
                <Chip era="red" icono="Izq">
                    <Emojie emojie="guitarra" slot="before"/>
                    Guitarra
                </Chip>
                <Chip era="folklore" icono="Izq">
                    <Emojie emojie="piano" slot="before"/>
                    Piano
                </Chip>
                <Chip era="fearless" icono="Izq">
                    <Emojie emojie="setlist" slot="before"/>
                    Setlist
                </Chip>
                <Chip era="debut" icono="Izq">
                    <Emojie emojie="cantante" slot="before"/>
                    Cantante Sorpresa
                </Chip>
                <Chip era="evermore" icono="Izq">
                    <Emojie emojie="pelicula" slot="before"/>
                    Pelicula
                </Chip>
                <Chip era="reputation" icono="Izq">
                    <Emojie emojie="mashup" slot="before"/>
                    Mashup
                </Chip>
            </div>
        </div>
    </section>

    <!-- TarjetasCanciones -->
    <section class="flex flex-row gap-6 items-center justify-center flex-wrap self-stretch shrink-0 relative py-0">
        {
            eras.map(({ albums , portada , foto , Spotify , canciones , extras , linkPage , YTMusic }) => {
                return (
                    <TarjetaCancion eraTarjeta={albums} taylor={foto} spotify={Spotify} linkPage={linkPage} YTmusic={YTMusic}>
                        {
                            canciones.map(({title , etiquetas}) =>{
                                    return (
                                        <Cancion
                                        eraTarjeta={albums}
                                        cancion={title}
                                        emojiePrincipal={etiquetas.principal}
                                        emojie2={etiquetas.segundo}
                                        emojie3={etiquetas.tercer}
                                        emojie4={etiquetas.cuarto}
                                        emojie5={etiquetas.quinto}
                                        emojie6={etiquetas.sexto}/>
                                    )
                                }                                
                            )
                        }
                        {
                            extras.length > 0 && <div class:list={[
                                "w-full rounded-sm h-0.5",
                                {
                                    "bg-debut-900":         albums === "debut",
                                    "bg-fearless-900":      albums === "fearless",
                                    "bg-speakNow-900":     	albums === "speakNow",
                                    "bg-red-900":           albums === "red",
                                    "bg-1989-900":          albums === "1989",
                                    "bg-reputation-900":    albums === "reputation",
                                    "bg-lover-900":         albums === "lover",
                                    "bg-folklore-900":      albums === "folklore",
                                    "bg-evermore-900":      albums === "evermore",
                                    "bg-midnights-900":     albums === "midnights",
                                    "bg-TTPD-900":          albums === "TTPD",
                                    "bg-mashup-900":        albums === "mashup",
                                }
                            ]}/>
                        }
                        {
                            extras.map(({ title, etiquetas }) => {
                                return (
                                <Cancion
                                    eraTarjeta={albums}
                                    cancion={title}
                                    emojiePrincipal={etiquetas.principal}
                                    emojie2={etiquetas.segundo}
                                    emojie3={etiquetas.tercer}
                                    emojie4={etiquetas.cuarto}
                                    emojie5={etiquetas.quinto}
                                    emojie6={etiquetas.sexto}
                                />
                                )
                            })
                        }
                    </TarjetaCancion>
                )
            })
        }
    </section>
</article>