---

import Title from "../components/Title.astro";
import Subtitle from "../components/Subtitle.astro";
import TarjetaFecha from "../components/TarjetaFecha.astro";
import {concerts} from "../data/concerts.json"
import ButtonPrimario from "../components/ButtonPrimario.astro";

interface Props {
	era: string;
}

const eras = ["debut", "fearless", "speakNow", "red", "1989", "reputation", "lover", "folklore", "evermore", "midnights", "TTPD"]
const { era } = Astro.props;

const maxFechasToShow = 6;  // Número máximo de fechas a mostrar inicialmente



---

<article id="Conciertos" class = `py-12 px-8 sm:px-10 xl:px-28 space-y-6`>
    <Title era={era} titulo="Fecha de conciertos" texto="Estas son todas las fechas The Eras Tour, las pasadas, las actuales, y las futuras."/>
    <section class="flex flex-col gap-6 self-stretch shrink-0 relative items-center">
        <Subtitle era={era} titulo="Fechas Actuales" texto={null}/>
        <div class="flex flex-col sm:flex-row gap-6 items-start justify-start flex-wrap self-stretch shrink-0 h-min relative">
            {
            concerts.ahora.slice(0, maxFechasToShow).map(({ fecha, lugar, telonero }, index) => {
                const eraFecha = eras[index % eras.length];  // Alterna entre las eras
                return (
                    <TarjetaFecha 
                        estado="ahora"
                        eraFecha={eraFecha}
                        dia={fecha.dia}
                        mes={fecha.mes}
                        año={fecha.año}
                        pais={lugar.pais}
                        ciudad={lugar.ciudad}
                        estadio={lugar.estadio}
                        telonero={telonero}
                    />
                );
            })}
            
        </div>
        <ButtonPrimario icono={null} era={era} href='/swifties-eras-tour/canciones.astro'/>
        
    </section>
</article>

<!-- creo que ya se como hacer para que no se muestren las fechas -->
<script>
    document.getElementById('btn-ver-fut')?.addEventListener('click', ()=>(
        document.getElementById('masFechas-fut')?.classList.remove('hidden'),
        document.getElementById('btn-ver-fut')?.classList.add('hidden'),
        document.getElementById('btn-ocul-fut')?.classList.remove('hidden')
    )
    )
    document.getElementById('btn-ocul-fut')?.addEventListener('click', ()=>(
        document.getElementById('masFechas-fut')?.classList.add('hidden'),
        document.getElementById('btn-ver-fut')?.classList.remove('hidden'),
        document.getElementById('btn-ocul-fut')?.classList.add('hidden')
    )
    )
    
    document.getElementById('btn-ver-past')?.addEventListener('click', ()=>(
        document.getElementById('masFechas-past')?.classList.remove('hidden'),
        document.getElementById('btn-ver-past')?.classList.add('hidden'),
        document.getElementById('btn-ocul-past')?.classList.remove('hidden')
    )
    )
    document.getElementById('btn-ocul-past')?.addEventListener('click', ()=>(
        document.getElementById('masFechas-past')?.classList.add('hidden'),
        document.getElementById('btn-ver-past')?.classList.remove('hidden'),
        document.getElementById('btn-ocul-past')?.classList.add('hidden')
    )
    )
</script>