---
import Emojie from "../components/Emojie.astro";
import {eras} from "../data/songs.json"

interface Props {
    era: string
}

const { era } = Astro.props
const eraData = eras.find(e => e.albums === era);

if (!eraData) return null

---
<table class = `bg-${era}-400 rounded-3xl p-2.5 flex flex-col gap-2 gap-y-0 items-start justify-start self-stretch shrink-0 relative overflow-hidden table-auto space-y-2.5`>
    <thead class="w-full flex flex-row gap-2">
        <tr class={`bg-${era}-500 rounded-2xl p-2.5 flex gap-0 items-center justify-center w-full`}>
            <th class:list = {[
                "text-center hidden sm:block text-headline-small relative w-full",
                {
                    "text-debut-100": era === "debut",
                    "text-fearless-100": era === "fearless",
                    "text-speakNow-100": era === "speakNow",
                    "text-red-100": era === "red",
                    "text-1989-100": era === "1989",
                    "text-reputation-100": era === "reputation",
                    "text-lover-100": era === "lover",
                    "text-folklore-100": era === "folklore",
                    "text-evermore-100": era === "evermore",
                    "text-midnights-100": era === "midnights",
                    "text-TTPD-100": era === "TTPD",
                }
            ]}>
                Canciones
            </th>
            <th class="justify-items-center relative sm:hidden flex w-full">
                <Emojie emojie="guitarra"/>
            </th>
        </tr>
        <tr class={`bg-${era}-500 rounded-2xl p-2.5 flex gap-0 items-center justify-center w-full`}>
            <th class:list = {[
                "text-center text-headline-small relative w-full",
                {
                    "text-debut-100": era === "debut",
                    "text-fearless-100": era === "fearless",
                    "text-speakNow-100": era === "speakNow",
                    "text-red-100": era === "red",
                    "text-1989-100": era === "1989",
                    "text-reputation-100": era === "reputation",
                    "text-lover-100": era === "lover",
                    "text-folklore-100": era === "folklore",
                    "text-evermore-100": era === "evermore",
                    "text-midnights-100": era === "midnights",
                    "text-TTPD-100": era === "TTPD",
                }
            ]}>
                Fechas
            </th>
        </tr>
        <tr class={`bg-${era}-500 rounded-2xl p-2.5 flex gap-0 items-center justify-center w-full`}>
            <th class:list = {[
                "text-center text-headline-small relative w-full",
                {
                    "text-debut-100": era === "debut",
                    "text-fearless-100": era === "fearless",
                    "text-speakNow-100": era === "speakNow",
                    "text-red-100": era === "red",
                    "text-1989-100": era === "1989",
                    "text-reputation-100": era === "reputation",
                    "text-lover-100": era === "lover",
                    "text-folklore-100": era === "folklore",
                    "text-evermore-100": era === "evermore",
                    "text-midnights-100": era === "midnights",
                    "text-TTPD-100": era === "TTPD",
                }
            ]}>
                Lugares
            </th>
        </tr>
    </thead>
    <tbody  class=`text-${era}-800 w-full flex flex-col gap-1 rounded-2xl items-start justify-start self-stretch shrink-0 relative overflow-hidden`>
        <!-- canciones -->
        {
            eraData?.canciones.map(({title , info , etiquetas}) =>{
                    return (
                        <tr class="w-full flex-row gap-2 rounded-2xl p-2.5 flex items-center justify-center" 
                        class:list = {[
                            {
                                "bg-debut-200": era === "debut",
                                "bg-fearless-200": era === "fearless",
                                "bg-speakNow-200": era === "speakNow",
                                "bg-red-200": era === "red",
                                "bg-1989-200": era === "1989",
                                "bg-reputation-200": era === "reputation",
                                "bg-lover-200": era === "lover",
                                "bg-folklore-200": era === "folklore",
                                "bg-evermore-200": era === "evermore",
                                "bg-midnights-200": era === "midnights",
                                "bg-TTPD-200": era === "TTPD",
                            }
                        ]}>
                            <td class="flex gap-2 w-full rounded-2xl relative justify-center">
                                <div class:list={['inline',
                                    {
                                        'hidden': etiquetas.principal !== "setlist",
                                    }
                                    ]}><Emojie emojie="setlist"/>
                                </div>
                                <p class:list={[
                                    "text-title-medium text-center",
                                    {
                                        'text-debut-400': etiquetas.principal === "sinCantar" && era === 'debut',
                                        'text-fearless-400': etiquetas.principal === "sinCantar" && era === 'fearless',
                                        'text-speakNow-400': etiquetas.principal === "sinCantar" && era === 'speakNow',
                                        'text-red-400': etiquetas.principal === "sinCantar" && era === 'red',
                                        'text-1989-400': etiquetas.principal === "sinCantar" && era === '1989',
                                        'text-reputation-400': etiquetas.principal === "sinCantar" && era === 'reputation',
                                        'text-lover-400': etiquetas.principal === "sinCantar" && era === 'lover',
                                        'text-folklore-400': etiquetas.principal === "sinCantar" && era === 'folklore',
                                        'text-evermore-400': etiquetas.principal === "sinCantar" && era === 'evermore',
                                        'text-midnights-400': etiquetas.principal === "sinCantar" && era === 'midnights',
                                        'text-TTPD-400': etiquetas.principal === "sinCantar" && era === 'TTPD',
                                        'text-mashup-400': etiquetas.principal === "sinCantar" && era === 'mashup',
                                    }]}>
                                    {title}
                                </p>
                            
                            </td>
                            <td class="flex flex-col w-full" class:list={[{'hidden': etiquetas.principal === 'sinCantar'}]}>
                                {
                                    info.map(({fecha , instrumento , cantSorp})=>{
                                        if (!instrumento) return null
                                        return(
                                            <div class="flex flex-row gap-3 justify-center" >
                                                <p class="text-title-medium">
                                                    {fecha.dia}/{fecha.mes}/{fecha.año}
                                                </p>
                                                <Emojie emojie={instrumento}/>
                                                {
                                                    cantSorp?.length != null && 
                                                    <p class="text-title-medium">
                                                        con {cantSorp}
                                                    </p>
                                                }
                                            </div>
                                            
                                        )
                                    }
                                    )
                                }
                            </td>
                            <td class="flex-col w-full" class:list={[{'hidden': etiquetas.principal === 'sinCantar'}]}>
                                {
                                    info.map(({lugar})=>{
                                        return(
                                            <p class="text-title-medium text-center">{lugar}</p>
                                        )
                                    }

                                    )
                                }
                            </td>
                        </tr>
                    )
                }
            
            )
        }
        <!-- divisor -->
        {
            eraData?.extras.length > 0 && 
            <tr class="w-full flex-row gap-2 rounded-2xl p-0.5 flex items-center justify-center" 
            class:list = {[
                {
                    "bg-debut-600": era === "debut",
                    "bg-fearless-600": era === "fearless",
                    "bg-speakNow-600": era === "speakNow",
                    "bg-red-600": era === "red",
                    "bg-1989-600": era === "1989",
                    "bg-reputation-600": era === "reputation",
                    "bg-lover-600": era === "lover",
                    "bg-folklore-600": era === "folklore",
                    "bg-evermore-600": era === "evermore",
                    "bg-midnights-600": era === "midnights",
                    "bg-TTPD-600": era === "TTPD",
                }
            ]}>
            </tr>
        }
        {
            eraData?.extras.map(({title , info , etiquetas}) =>{
                    return (
                        <tr class="w-full flex-row gap-2 rounded-2xl p-2.5 flex items-center justify-center" 
                        class:list = {[
                            {
                                "bg-debut-200": era === "debut",
                                "bg-fearless-200": era === "fearless",
                                "bg-speakNow-200": era === "speakNow",
                                "bg-red-200": era === "red",
                                "bg-1989-200": era === "1989",
                                "bg-reputation-200": era === "reputation",
                                "bg-lover-200": era === "lover",
                                "bg-folklore-200": era === "folklore",
                                "bg-evermore-200": era === "evermore",
                                "bg-midnights-200": era === "midnights",
                                "bg-TTPD-200": era === "TTPD",
                            }
                        ]}>
                            <td class=" w-full rounded-2xl relative">
                                <p class:list={[
                                    "text-title-medium text-center",
                                    {
                                        'text-debut-400': etiquetas.principal === "sinCantar" && era === 'debut',
                                        'text-fearless-400': etiquetas.principal === "sinCantar" && era === 'fearless',
                                        'text-speakNow-400': etiquetas.principal === "sinCantar" && era === 'speakNow',
                                        'text-red-400': etiquetas.principal === "sinCantar" && era === 'red',
                                        'text-1989-400': etiquetas.principal === "sinCantar" && era === '1989',
                                        'text-reputation-400': etiquetas.principal === "sinCantar" && era === 'reputation',
                                        'text-lover-400': etiquetas.principal === "sinCantar" && era === 'lover',
                                        'text-folklore-400': etiquetas.principal === "sinCantar" && era === 'folklore',
                                        'text-evermore-400': etiquetas.principal === "sinCantar" && era === 'evermore',
                                        'text-midnights-400': etiquetas.principal === "sinCantar" && era === 'midnights',
                                        'text-TTPD-400': etiquetas.principal === "sinCantar" && era === 'TTPD',
                                        'text-mashup-400': etiquetas.principal === "sinCantar" && era === 'mashup',
                                        
                                    }]}>
                                    {title}
                                </p>
                            </td>
                            <td class="flex flex-col w-full" class:list={[{'hidden': etiquetas.principal === 'sinCantar'}]}>
                                {
                                    info.map(({fecha , instrumento })=>{
                                        if (!instrumento) return null
                                        return(
                                            <div class="flex flex-row gap-3 justify-center">
                                                <p class="text-title-medium">
                                                    {fecha.dia}/{fecha.mes}/{fecha.año}
                                                </p>
                                                <Emojie emojie={instrumento}/>
                                            </div>
                                            
                                        )
                                    }
                                    )
                                }
                            </td>
                            <td class="flex-col w-full" class:list={[{'hidden': etiquetas.principal === "setlist" || etiquetas.principal === 'sinCantar'}]}>
                                {
                                    info.map(({lugar})=>{
                                        return(
                                            <p class="text-title-medium text-center">{lugar}</p>
                                        )
                                    }

                                    )
                                }
                            </td>
                        </tr>
                    )
                }
            
            )
        }
    </tbody>
</table>