---
import {eras} from "../../data/songs.json"

import Layout from "../../layouts/Layout.astro"
import TablaCanciones from "../../sections/TablaCanciones.astro"
import HeroImage from "../../sections/HeroImage.astro"
import Notas from "../../components/Notas.astro"
import Subtitle from "../../components/Subtitle.astro"

const era = '1989'
const eraData = eras.find(e => e.albums === era);
if (!eraData) return null



---
<Layout title = `${era} | Swifties Eras Tour` era = {era}>
    <main  class=`bg-${era}-100 py-12 px-8 md:px-32 space-y-6 flex flex-col gap-2.5 gap-y-0 items-start justify-start self-stretch shrink-0 relative`>
        <div class="w-full rounded-3xl overflow-hidden">
            <HeroImage era={era} boton={false} pagAnt={eraData?.anterior} pagSig={eraData?.siguiente}/>
        </div>
        
        <TablaCanciones era={era}/>

        {
            eraData.notas?.length > 0 && <Notas era={era} titulo="Notas">
                <ul class="list-disc text-title-medium list-inside">
                    {
                        eraData.notas?.map(({nota}) => {
                            return (
                                <li>{nota}</li>
                            )
                        })
                    }
                </ul>
            </Notas>
        }
        <section class="text-1989-900 w-full">
            <h2 class="text-display-small relative self-stretch">
                1989 Set
            </h2>
            <p class = " text-title-medium relative self-stretch"
            style = "letter-spacing: var(--title-medium-letter-spacing, 0.15px)">
                Estos son todas las convinaciones de el nuevo outfit de 1989
            </p>
            <table class="bg-1989-400 hidden md:flex rounded-3xl p-2.5 flex-col gap-2 gap-y-0 items-start justify-start self-stretch shrink-0 relative overflow-hidden table-auto space-y-2.5">
                <thead class="w-full flex flex-row gap-2 h-12">
                    <tr class="bg-1989-500 rounded-2xl p-2.5 gap-0 items-center justify-center  w-full">
                        <th class="text-1989-100 text-center text-headline-small relative w-full">
                            
                        </th>
                    </tr>
                    <tr class="bg-1989-500 rounded-2xl p-2.5 flex gap-0 items-center justify-center w-full">
                        <th class="text-1989-100 text-headline-small relative w-full flex justify-center items-center h-full">
                            <div class="bg-pink-400 rounded-lg flex h-full w-full "/>
                        </th>
                    </tr>
                    <tr class="bg-1989-500 rounded-2xl p-2.5 flex gap-0 items-center justify-center w-full">
                        <th class="text-1989-100 text-headline-small relative w-full flex justify-center items-center h-full">
                            <div class="bg-orange-400 rounded-lg flex h-full w-full "/>
                        </th>
                    </tr>
                    
                    <tr class="bg-1989-500 rounded-2xl p-2.5 flex gap-0 items-center justify-center w-full">
                        <th class="text-1989-100 text-headline-small relative w-full flex justify-center items-center h-full">
                            <div class="bg-yellow-400 rounded-lg flex h-full w-full "/>
                        </th>
                    </tr>
                    <tr class="bg-1989-500 rounded-2xl p-2.5 flex gap-0 items-center justify-center w-full">
                        <th class="text-1989-100 text-headline-small relative w-full flex justify-center items-center h-full">
                            <div class="bg-green-400 rounded-lg flex h-full w-full "/>
                        </th>
                    </tr>
                    <tr class="bg-1989-500 rounded-2xl p-2.5 flex gap-0 items-center justify-center w-full">
                        <th class="text-1989-100 text-headline-small relative w-full flex justify-center items-center h-full">
                            <div class="bg-cyan-400 rounded-lg flex h-full w-full "/>
                        </th>
                    </tr>
                    <tr class="bg-1989-500 rounded-2xl p-2.5 flex gap-0 items-center justify-center w-full">
                        <th class="text-1989-100 text-headline-small relative w-full flex justify-center items-center h-full">
                            <div class="bg-purple-400 rounded-lg flex h-full w-full "/>
                        </th>
                    </tr>
                </thead>
                <tbody  class=`text-1989-800 w-full flex flex-col gap-1 rounded-2xl items-start justify-start self-stretch shrink-0 relative overflow-hidden`>
                    <tr class="bg-1989-500 gap-2 rounded-2xl p-2.5 flex items-center justify-center w-full">
                        <td class="text-1989-100 text-center text-headline-small  relative w-full">
                            <div class="bg-pink-400 rounded-lg flex h-full w-full ">
                                
                            </div>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full" 
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Pink.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Orange.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Gold.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Green.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Aqua.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Purple.jpg"/>
                        </td>
                    </tr>
                    
                    <tr class="bg-1989-500 gap-2 rounded-2xl p-2.5 flex items-center justify-center w-full">
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            Naranja
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full" 
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Pink.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Orange.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Gold.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Green.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Aqua.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Purple.jpg"/>
                        </td>
                    </tr>
                    
                    <tr class="bg-1989-500 gap-2 rounded-2xl p-2.5 flex items-center justify-center w-full">
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            Amarillo
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full" 
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Pink.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Orange.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Gold.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Green.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Aqua.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Purple.jpg"/>
                        </td>
                    </tr>
                    
                    <tr class="bg-1989-500 gap-2 rounded-2xl p-2.5 flex items-center justify-center w-full">
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            Verde
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full" 
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Pink.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Orange.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <div
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                />
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <div
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                />
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Aqua.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Purple.jpg"/>
                        </td>
                    </tr>
                    
                    <tr class="bg-1989-500 gap-2 rounded-2xl p-2.5 flex items-center justify-center w-full">
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            Celeste
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full" 
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Pink.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Orange.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Gold.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Green.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Aqua.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Purple.jpg"/>
                        </td>
                    </tr>
                    
                    <tr class="bg-1989-500 gap-2 rounded-2xl p-2.5 flex items-center justify-center w-full">
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            Violeta
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full" 
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Pink.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Orange.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Gold.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Green.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Aqua.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small relative w-full">
                            <img
                                class="hover:scale-105 w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl h-full"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Purple.jpg"/>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            
            <article class="md:hidden block">
                <Subtitle titulo="Top Rosa" era={era}>
                    "Todas las convinaciones que tiene el top rosa. Ya se usaron con todas las polleras"
                </Subtitle>
                
            </article>
        </section>

        <button data-tooltip-target="tooltip-default" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Default tooltip</button>

        <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Tooltip content
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

        <div id="default-carousel" class="relative w-full" data-carousel="static">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/swifties-eras-tour/images/Fondos/01.Debut.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/swifties-eras-tour/images/Fondos/02.Fearless.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/docs/images/carousel/carousel-3.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/docs/images/carousel/carousel-4.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 5 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/docs/images/carousel/carousel-5.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
            </div>
            <!-- Slider indicators -->
            <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
            </div>
            <!-- Slider controls -->
            <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>


    </main>
</Layout>

<script>
    
</script>