---
import {eras} from "../../data/songs.json"

import Layout from "../../layouts/Layout.astro"
import TablaCanciones from "../../sections/TablaCanciones.astro"
import HeroImage from "../../sections/HeroImage.astro"
import Notas from "../../components/Notas.astro"
import Subtitle from "../../components/Subtitle.astro"

const era = '1989'
const eraData = eras.find(e => e.albums === era);
if (!eraData) return null



---
<Layout title = `${era} | Swifties Eras Tour` era = {era}>
    <main  class=`bg-${era}-100 py-12 px-8 md:px-32 space-y-6 flex flex-col gap-2.5 gap-y-0 items-start justify-start self-stretch shrink-0 relative`>
        <div class="w-full rounded-3xl overflow-hidden">
            <HeroImage era={era} boton={false} pagAnt={eraData?.anterior} pagSig={eraData?.siguiente}/>
        </div>
        
        <TablaCanciones era={era}/>

        {
            eraData.notas?.length > 0 && <Notas era={era} titulo="Notas">
                <ul class="list-disc text-title-medium list-inside">
                    {
                        eraData.notas?.map(({nota}) => {
                            return (
                                <li>{nota}</li>
                            )
                        })
                    }
                </ul>
            </Notas>
        }
        <section class="text-1989-900 w-full">
            <h2 class="text-display-small relative self-stretch">
                1989 Set
            </h2>
            <p class = " text-title-medium relative self-stretch"
            style = "letter-spacing: var(--title-medium-letter-spacing, 0.15px)">
                Estos son todas las convinaciones de el nuevo outfit de 1989
            </p>
            <table class="bg-1989-400 hidden md:flex rounded-3xl p-2.5 flex-col gap-2 gap-y-0 items-start justify-start self-stretch shrink-0 relative overflow-hidden table-auto space-y-2.5">
                <thead class="w-full flex flex-row gap-2 h-12">
                    <tr class="bg-1989-600 gap-2 rounded-2xl p-2.5 flex items-center justify-center w-full">
                        <td class="text-1989-100 text-center text-headline-small h-[200px] relative w-min">
                            <div class="bg-pink-400 rounded-lg flex h-8 w-8 "/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <div class="bg-pink-400 rounded-lg flex h-8 w-full "/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <div class="bg-orange-400 rounded-lg flex h-8 w-full "/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <div class="bg-yellow-400 rounded-lg flex h-8 w-full "/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <div class="bg-green-400 rounded-lg flex h-8 w-full "/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <div class="bg-cyan-400 rounded-lg flex h-8 w-full "/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <div class="bg-purple-400 rounded-lg flex h-8 w-full "/>
                        </td>
                    </tr>
                </thead>
                <tbody  class=`text-1989-800 w-full flex flex-col gap-1 rounded-2xl items-start justify-start self-stretch shrink-0 relative overflow-hidden`>
                    <tr class="bg-1989-500 gap-2 rounded-2xl p-2.5 flex items-center justify-center w-full">
                        <td class="text-1989-100 text-center text-headline-small h-[200px] relative w-min">
                            <div class="bg-pink-400 rounded-lg flex h-full w-8 "/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" 
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Pink.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Orange.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Gold.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Green.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Aqua.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl "
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Purple.jpg"/>
                        </td>
                    </tr>

                    <tr class="bg-1989-500 gap-2 rounded-2xl p-2.5 flex items-center justify-center w-full">
                        <td class="text-1989-100 text-center text-headline-small h-[200px] relative w-min">
                            <div class="bg-orange-400 rounded-lg flex h-full w-8 "/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" 
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Pink.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Orange.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Gold.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Green.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Aqua.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl "
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Purple.jpg"/>
                        </td>
                    </tr>

                    <tr class="bg-1989-500 gap-2 rounded-2xl p-2.5 flex items-center justify-center w-full">
                        <td class="text-1989-100 text-center text-headline-small h-[200px] relative w-min">
                            <div class="bg-yellow-400 rounded-lg flex h-full w-8 "/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" 
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Pink.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Orange.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Gold.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Green.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Aqua.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl "
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Purple.jpg"/>
                        </td>
                    </tr>
                    <tr class="bg-1989-500 gap-2 rounded-2xl p-2.5 flex items-center justify-center w-full">
                        <td class="text-1989-100 text-center text-headline-small h-[200px] relative w-min">
                            <div class="bg-green-400 rounded-lg flex h-full w-8 "/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" 
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Pink.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Orange.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="opacity-0 hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Gold.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="opacity-0 hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Green.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Aqua.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl "
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Purple.jpg"/>
                        </td>
                    </tr>
                    <tr class="bg-1989-500 gap-2 rounded-2xl p-2.5 flex items-center justify-center w-full">
                        <td class="text-1989-100 text-center text-headline-small h-[200px] relative w-min">
                            <div class="bg-cyan-400 rounded-lg flex h-full w-8 "/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" 
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Pink.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Orange.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Gold.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Green.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Aqua.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl "
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Purple.jpg"/>
                        </td>
                    </tr>
                    <tr class="bg-1989-500 gap-2 rounded-2xl p-2.5 flex items-center justify-center w-full">
                        <td class="text-1989-100 text-center text-headline-small h-[200px] relative w-min">
                            <div class="bg-purple-400 rounded-lg flex h-full w-8 "/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" 
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Pink.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Orange.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Gold.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Green.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl"
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Aqua.jpg"/>
                        </td>
                        <td class="text-1989-100 text-center text-headline-small w-full relative">
                            <img
                                class="hover:scale-105 h-[200px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl "
                                src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Purple.jpg"/>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <article class="md:hidden block">
                <div>
                    <Subtitle titulo="Top Rosa" era={era}>
                            "Todas las convinaciones que tiene el top rosa. Ya se usaron con todas las polleras"
                    </Subtitle>
                    <div class="bg-pink-400 carousel carousel-center rounded-3xl max-w-md space-x-4 p-4">
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Pink.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Orange.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Gold.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Green.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Aqua.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPink-Purple.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                    </div>
                </div>
                <div>
                    <Subtitle titulo="Top Naranja" era={era}>
                            "Todas las convinaciones que tiene el top naranja. Ya se usaron con todas las polleras"
                    </Subtitle>
                    <div class="bg-orange-400 carousel carousel-center rounded-3xl max-w-md space-x-4 p-4">
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Pink.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Orange.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Gold.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Green.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Aqua.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewOrange-Purple.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                    </div>
                </div>
                <div>
                    <Subtitle titulo="Top Amarillo" era={era}>
                            "Todas las convinaciones que tiene el top amarillo. Ya se usaron con todas las polleras"
                    </Subtitle>
                    <div class="bg-yellow-400 carousel carousel-center rounded-3xl max-w-md space-x-4 p-4">
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Pink.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Orange.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Gold.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Green.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Aqua.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGold-Purple.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                    </div>
                </div>
                <div>
                    <Subtitle titulo="Top Verde" era={era}>
                            "Todas las convinaciones que tiene el top naranja. Ya se usaron con todas las polleras"
                    </Subtitle>
                    <div class="bg-green-400 carousel carousel-center rounded-3xl max-w-md space-x-4 p-4">
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Pink.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Orange.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Aqua.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewGreen-Purple.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                    </div>
                </div>
                <div>
                    <Subtitle titulo="Top Celeste" era={era}>
                            "Todas las convinaciones que tiene el top celeste. Ya se usaron con todas las polleras"
                    </Subtitle>
                    <div class="bg-cyan-400 carousel carousel-center rounded-3xl max-w-md space-x-4 p-4">
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Pink.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Orange.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Gold.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Green.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Aqua.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewAqua-Purple.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                    </div>
                </div>
                <div>
                    <Subtitle titulo="Top Violeta" era={era}>
                            "Todas las convinaciones que tiene el top violeta. Ya se usaron con todas las polleras"
                    </Subtitle>
                    <div class="bg-purple-400 carousel carousel-center rounded-3xl max-w-md space-x-4 p-4">
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Pink.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Orange.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Gold.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Green.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Aqua.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                        <div class="carousel-item">
                            <img
                            src="/swifties-eras-tour/images/Outfits/05-1989/New/NewPurple-Purple.jpg"
                            class="h-[400px] w-full transition object-cover ease-in-out delay-0 duration-200 self-center relativeself-stretch shrink-0 relative rounded-xl" />
                        </div>
                    </div>
                </div>
            </article>
        </section>

    </main>
</Layout>

<script>
    
</script>