---
import Layout from "../../layouts/Layout.astro"
import TablaCanciones from "../../sections/TablaCanciones.astro"
import {eras} from "../../data/songs.json"
import HeroImage from "../../sections/HeroImage.astro"
import Notas from "../../components/Notas.astro"

const era = 'reputation'
const eraData = eras.find(e => e.albums === era);
if (!eraData) return null

---
<Layout title = `${era} | Swifties Eras Tour` era = {era}>
    <main  class=`bg-${era}-100 py-12 px-8 md:px-32 space-y-6 flex flex-col gap-2.5 gap-y-0 items-start justify-start self-stretch shrink-0 relative`>
        <div class="w-full rounded-3xl overflow-hidden">
            <HeroImage era={era} boton={false} pagAnt={eraData?.anterior} pagSig={eraData?.siguiente}/>
        </div>
        
        <TablaCanciones era={era}/>

        {
            eraData.notas?.length > 0 && <Notas era={era} titulo="Notas">
            <ul class="list-disc text-title-medium list-inside">
                {
                    eraData.notas?.map(({nota}) => {
                        return (
                            <li>{nota}</li>
                        )
                    })
                }
            </ul>
        </Notas>
        }
    </main>
</Layout>